**/__pycache__/
/.python-version

**/tmp/

# vim detritus
**/*.swp

# For pycharm IDE usage
.idea

# For virtual environments
venv

.DS_Store

## files to facilitate the adding of document markings
update-markings.py
update-markings.yml
manifest.txt
